.ssr
.android
.cache
.gitconfig
.java
.nuget
.plastic4
.wget-hsts
Coding
DriverUI.pid
Pictures
Templates
.bash_history
.cargo
.local
.nvm
.scenebuilder
.wine
cv_debug.log
huion.log
pspp.jnl
Unity
.bash_logout
.gradle
.lvm_history
.omnisharp
.sdkman
.yarn
Desktop
HuionCore.pid
Public
Videos
.bash_profile
.dotnet
.gtkrc-2.0
.mozilla
.openjfx
.viminfo
.yarnrc
Documents
lv-settings.lua
scripts
.bashrc
.fonts.conf
.icons
.npm
.pki
.vscode
.zshrc
Downloads
Music
tempfile
Arduino
.arduino15
.arduinoIDE
.erg
.org
~/.local/share/lunarvim/lvim/lua/lvim
vscode-cpptools
